
/* Your CSS Code here. */
body { font-family:poppins;}
.holder {
		  display: flex;
  flex-direction: row;
	justify-content: space-between;
}
.item1 { color:#000; background:red; width:80px; height:80px; font-weight:600; font-size:35px;}
.item2 { color:#000; background:blue; width:80px; height:80px; font-weight:600; font-size:35px;}
.item3 { color:#000; background:green; width:80px; height:80px; font-weight:600; font-size:35px;}

.item { display: flex;
  flex-direction:row;
	margin-top:50px;  flex-wrap:wrap;
	   gap:2px;
}